<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>All Teachers Data</h1>
    <h4><a href="/teachers/add">Add Teachers Data</a></h4>
    <div class="title">
      <table border="1">
        <tr>
          <th> ID </th>
          <th> First Name</th>
          <th> Last Name</th>
          <th> Email</th>
          <th> Subject</th>
          <th> Options</th>
        </tr>
        <%teacher_data.forEach(t => { %>
          <tr>
            <td><%= t.id %> </td>
            <td><%= t.first_name %></td>
            <td><%= t.last_name %></td>
            <td><%= t.email %></td>
            <td><% if (t.SubjectId != null) {%>
                <%= t.Subject.subject_name %>
              <%} else {%>
                <%= 'Unassigned' %> <% }%></td>
            <td><a href="teachers/edit/<%= t.id %>">edit</a> | <a href="teachers/delete/<%= t.id %>">delete</a> </td>
          </tr>
        <% }) %>
      </table>
      <br>
      <br>
      <a href="/">home</a>
    </div>
  </body>
</html>
